@mixin filter-intractable {
  padding: 0.5em 1em;
  border-radius: 2em;
}

.filters {
  margin-top: 1em;

  &__form {
    display: flex;
    column-gap: 2em;
    padding: 1em 2em;
    background-color: rgb(231 227 227);
    border-radius: 2em;
    width: fit-content;
    margin: 0 auto;
  }

  &__label {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
    color: rgb(124, 121, 121);
  }
}

.search-field {
  &__input {
    @include filter-intractable;
    cursor: pointer;
    background-color: rgb(231 227 227);
    box-shadow: rgb(191, 189, 189) 2px 2px 4px 1px,
      rgb(255, 255, 255) -2px -2px 4px 1px,
      rgb(191, 189, 189) 2px 1px 6px -7px inset;
    &:hover,
    &:focus {
      background-color: #d3d4da;
    }
  }
}

.dropdown {
  &__select {
    @include filter-intractable;
    cursor: pointer;
    appearance: none;
    text-align-last: center;
    background-color: rgb(231 227 227);
    box-shadow: rgb(191, 189, 189) 2px 2px 4px 1px,
      rgb(255, 255, 255) -2px -2px 4px 1px,
      rgb(191, 189, 189) 2px 1px 6px -7px inset;
    &:hover,
    &:focus {
      background-color: #d3d4da;
    }
  }
}
