.header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  color: white;
  background-color: black;
  flex: 0 0 auto;

  &__link {
    display: flex;
    align-items: center;
    column-gap: 1em;
  }

  &__buttons {
    display: flex;
    column-gap: 1em;
  }

  &__button {
    padding: 0.5em 1.5em;
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.5em;
    transition: all 0.3s ease;
    &:hover,
    &:focus {
      background-color: white;
      color: black;
    }
  }
}
