.hint-text {
  font-family: "3dumbregular", sans-serif;
  text-align: center;
  font-size: 42px;
  color: white;
  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.hint-arrow {
  position: absolute;
  right: 40px;
  top: 110px;
  height: 115px;
}

.hint-modal {
  position: absolute;
  height: calc(100vh - 104px);
  width: 100%;
  top: 0;
  left: 0;

  &__text {
    font-family: "3dumbregular", sans-serif;
    color: white;
    font-size: 42px;
    text-align: center;

    border-radius: 15px;
    background-color: black;
    padding: 20px;
    width: 20%;

    position: absolute;
    left: 15%;
    transform: translateX(-50%);
    bottom: 50%;

    opacity: 0;
    animation: display-text 1s 0.5s forwards;
  }

  &__cat {
    position: absolute;
    left: -200px;
    bottom: 85px;
    width: 200px;
    animation: slide-in 1s forwards ease-out;
  }
}

.incorrect-value {
  border: 1px solid #d74e4e !important;
}

@keyframes slide-in {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes display-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
