.cards {
  margin-top: 2em;
  margin-bottom: 2em;
  color: rgb(20, 20, 20);

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
  }

  &__item {
    align-self: start;
    min-width: 285px;
    background-color: rgb(231 227 227);
    border-radius: 0.4em;
  }

  &__form {
    position: relative;
    display: grid;
    padding: 1.25em 2em 1em;
  }

  &__title {
    color: rgb(150, 150, 150);
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__label {
    margin-bottom: 0.75rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 36px;
    gap: 0.5em;
    color: rgb(124, 121, 121);
    transition: grid-template-rows 0.3s ease-in-out, font-size 0.1s ease-in-out;

    &--hidden {
      margin-bottom: 0;
      grid-template-rows: 1fr 0px;
      font-size: 0px;
      pointer-events: none;
      gap: 0;
      .cards__input {
        font-size: 0px;
        padding: 0;
        border: none;
        box-shadow: none;
      }
    }
  }

  &__input {
    color: rgb(125, 125, 125);
    padding: 0.75em 1em;
    border-radius: 0.4em;
    background-color: rgb(231 227 227);
    box-shadow: rgb(191, 189, 189) 2px 2px 4px 1px,
      rgb(255, 255, 255) -2px -2px 4px 1px,
      rgb(191, 189, 189) 2px 1px 6px -7px inset;
  }

  &__buttons {
    margin-top: 0.5em;
    display: flex;
    gap: 0.6em;
    justify-content: flex-end;
  }

  &__btn {
    padding: 0.5em 1em;
    border-radius: 0.4em;
    background-color: rgb(231 227 227);
    box-shadow: rgb(191, 189, 189) 2px 2px 3px 1px,
      rgb(255, 252, 252) -2px -2px 4px 1px;
    color: rgb(124, 121, 121);
    transition: all 0.4s ease-in-out;

    &:hover,
    &:focus {
      background-color: #8992f0;
      color: #dbddfa;
    }

    &[data-action="delete"]:hover,
    &[data-action="delete"]:focus {
      background-color: #f34a4a;
      color: #eeb8b8;
    }
  }
}

.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 16px;
  right: 34px;

  &:hover,
  &:focus {
    background-color: #d3d4da;
  }

  &__input {
    cursor: pointer;
    display: none;
    &:checked + .checkbox__span {
      background-image: url("../images/cloud-check.svg");
    }
  }
  &__span {
    cursor: pointer;
    display: block;
    border: 0.25em solid transparent;
    background-image: url("../images/cloud-add.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.25em;
    height: 2.25em;
    border-radius: 0.4em;
    box-shadow: rgb(191, 189, 189) 2px 2px 4px 1px,
      rgb(255, 255, 255) -2px -2px 4px 1px, #bfbdbd 2px 1px 6px -7px inset;
    transition: background-color 0.2s ease;
  }
}
