.create-card {
  &__form {
    min-width: 460px;
    padding: 2em;
    margin: 0 auto;
    background-color: rgb(46, 45, 45);

    *:disabled {
      display: none;
    }

    // option[value=""] {
    //   color: #b6b1b1;
    // }
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
  }
}

.appointment {
  display: grid;
  grid-template-rows: 54px;
  position: relative;
  margin: 0 auto 20px;
  transition: grid-template-rows 0.3s ease-in-out;

  &-legend {
    color: #f75959;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    margin: 0 auto 28px;
  }

  &__select {
    cursor: pointer;
  }

  &__input,
  &__select {
    width: 100%;
    height: 54px;
    border-radius: 20px;
    color: #989dcd;
    font-size: 16px;
    background-color: rgb(37, 36, 36);
    text-align: center;
    box-shadow: rgb(54, 53, 54) 2px 2px 3px 1px inset,
      rgb(28, 28, 28) -2px -2px 4px 1px inset;
  }

  &__input {
    &:focus {
      box-shadow: rgba(65, 41, 115, 0.5) 5px 5px 10px 0px,
        rgba(65, 53, 89, 0.5) -2px -4px 6px 0px;
    }

    &[type="date"] {
      color: transparent;
      user-select: none;
      position: relative;

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        background-image: url("../images/calendar.svg");
        position: absolute;
        right: 16px;
      }
    }

    &--active[type="date"] {
      color: #989dcd;
    }
  }

  &--hidden {
    grid-template-rows: 0px;
    font-size: 0px;
    margin-bottom: 0;
    pointer-events: none;
    .appointment__input {
      height: 0;
      border: none;
    }
    .appointment__label {
      font-size: 0;
      &::after {
        width: 0;
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #989dcd;
    font-size: 16px;
    line-height: 2;
    white-space: nowrap;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  &__input:focus + .appointment__label,
  &__label--active {
    top: -8px;
    font-size: 10px;
  }
}

.create-visit,
.close-btn {
  color: #989dcd;
  background-color: rgb(37, 36, 36);
  transition: all 0.3s ease-in-out;
  border: 1px solid rgb(37, 36, 36);
  padding: 0.7em 2em;
  border-radius: 10px;
  box-shadow: rgb(54, 53, 54) 2px 2px 3px 1px inset,
    rgb(28, 28, 28) -2px -2px 4px 1px inset;
}

.create-visit:hover,
.create-visit:focus {
  color: #c4c9f2;
  background-color: #6572ff;
  border: 1px solid #6572ff;
  box-shadow: rgba(168, 109, 244, 0.3) -1px -1px 2px 1px inset;
}

.close-btn:hover,
.close-btn:focus {
  background-color: #d74e4e;
  border: 1px solid #f75959;
  box-shadow: none;
  color: #edc0c0;
}

.create-card {
  border: none;
  border-radius: 0.5em;
  margin: auto;

  &::backdrop {
    background: rgba(0, 0, 0, 0.35);
  }
}
