.sign-in-modal {
  // position: fixed;
  // right: 50%;
  // bottom: 50%;
  // transform: translateX(50%) translateY(50%);
  border: none;
  border-radius: 0.5em;
  margin: auto;
  background-color: rgb(46, 45, 45);

  &::backdrop {
    background: rgba(0, 0, 0, 0.35);
  }
}

.sign-in {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.75em;
  width: 400px;
  padding: 2em;

  &__label {
    display: flex;
    align-items: center;
    column-gap: 1em;
    justify-content: space-between;
    color: #989dcd;
  }

  &__input {
    padding: 0.75em 1em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    min-width: 70%;
    background-color: rgb(37, 36, 36);
    color: #989dcd;
    box-shadow: rgb(54, 53, 54) 2px 2px 3px 1px inset,
      rgb(28, 28, 28) -2px -2px 4px 1px inset;
  }

  &__buttons {
    display: flex;
    column-gap: 0.5em;
    align-self: flex-end;
  }

  &__button {
    padding: 0.7em 1em;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    background-color: rgb(37, 36, 36);
    color: #989dcd;
    transition: all 0.3s ease-in-out;
    box-shadow: rgb(54, 53, 54) 2px 2px 3px 1px inset,
      rgb(28, 28, 28) -2px -2px 4px 1px inset;

    &[type="button"]:hover,
    &[type="button"]:focus {
      background-color: #f34a4a;
      border: 1px solid #f34a4a;
      //border-radius: 0.2em;
      color: #eeb8b8;
      box-shadow: none;
    }

    &[type="submit"]:hover,
    &[type="submit"]:focus {
      color: #c4c9f2;
      background-color: #6572ff;
      border: 1px solid #6572ff;
      box-shadow: none;
    }
  }
}
