@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "3dumbregular";
  src: url("../fonts/3Dumb-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
