html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  background-color: #6572ff;
}

main {
  flex: 1 0 auto;
  position: relative;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
}

.hidden {
  display: none !important;
  pointer-events: none;
  position: absolute;
}
