*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

input,
select,
button {
  font-family: inherit;
  color: inherit;
  border: none;
  outline: none;
}

img {
  display: block;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

input:-webkit-autofill {
  caret-color: #989dcd;
  -webkit-text-fill-color: #989dcd;
  -webkit-box-shadow: 0 0 0 30px #252424 inset !important;
}
